@use "@angular/material" as mat;
@use "sass:map";

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$primary: map.get($my-primary, "default");
$accent: map.get($my-accent, "default");
