@use '@angular/material' as mat;
@use "sass:map";
@import './material.override';

$color-config:    mat.get-color-config($my-theme);
$primary-palette: map.get($color-config, 'primary');
$primary: map.get($primary-palette, "default");