<button type="button" class="btn btn-primary" routerLink="create">Ajouter</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th #th>Id</th>
            <th #th>Libellé</th>
            <th #th>Code</th>
            <th #th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="resourcesList$">
        <tr *ngFor="let resource of resourcesList$ | async">
            <ng-template [ngTemplateOutlet]="dataRow" [ngTemplateOutletContext]="{$implicit:resource}">
            </ng-template>
        </tr>
    </tbody>
</table>

<ng-template #dataRow let-resource>
    <td>{{ resource.id }}</td>
    <td>{{ resource.label }}</td>
    <td>{{ resource.code }}</td>
    <td>
        <button type="button" class="btn btn-success me-2" [routerLink]="['update', resource.id]">
            Modifier
        </button>
        <button type="button" class="btn btn-danger" appConfirm
            [question]="'Etes-vous sûr de vouloir supprimer la ressource ?'" [title]="'Suppression de la ressource'"
            (confirmMethod)="deleteResource(resource)">Supprimer</button>
    </td>
</ng-template>