<input #file type="file" [hidden]="true" 
    (change)="uploadFiles($event.target)" />
<button type="button" class="btn btn-primary d-flex align-items-center" (click)="file.click()">
    Prendre une photo
</button>

<ng-container *ngIf="imgUrl">
    <img [src]="imgUrl" width="200"/>
</ng-container>