<div class="p-4">
    <h1>{{ title }}</h1>
    <p>{{ question }}</p>

    <div>
        <button *ngIf="yesClicked" type="button" class="btn btn-success me-2" (click)="yesClicked()">
            {{ yesMessage }}
        </button>
        <button *ngIf="noClicked" type="button" class="btn btn-danger" (click)="noClicked()">
            {{ noMessage }}
        </button>
    </div>
</div>