<form *ngIf="formGroup else errorOccured" [formGroup]="formGroup" (ngSubmit)="validateForm()">

    <div class="mb-3">
        <label class="form-label">Code de la ressource</label>
        <input class="form-control" placeholder="Code.." formControlName="code">
        {{ formGroup.controls['code']?.errors }}
        <div *ngIf="formGroup.controls['code'].errors && formGroup.controls['code'].dirty" style="color:red;">
         
            Le champs est en erreur.
            <span *ngIf="formGroup.controls['code'].errors['unique']">Le code doit être unique.</span>

        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Libellé de la ressource</label>
        <input class="form-control" placeholder="Libellé.." formControlName="label">
    </div>
    <div>
        <button type="submit" class="btn btn-success me-2" [disabled]="!formGroup.valid">
            {{ isInCreation ? 'Ajouter' : 'Modifier'}}
        </button>
        <button type="button" class="btn btn-secondary" appConfirm [title]="'Annulation'"
            [question]="'Vous êtes sur le point de perdre les informations en cours, êtes-vous sûr?'"
            (confirmMethod)="cancel()">Annuler</button>
    </div>
</form>

<ng-template #errorOccured>
    Oops something wrong happened.
</ng-template>