<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" *ngFor="let route of routes">
          <a class="nav-link" [routerLink]="[route.url]">{{ route.label}}</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
<label class="toto">Toto color</label>
<app-take-picture></app-take-picture>
<div class="container pt-2">
  <!-- <h1>{{ pageTitle$ | async | translate }}</h1> -->
  <h1>{{ pageTitle$ | async }}</h1>
  <router-outlet></router-outlet>
</div>