

// @import '~@angular/material/theming';


// $accent-palette:  map.get($color-config, 'accent');
// $warn-palette:    map.get($color-config, 'warn');
// $is-dark-theme:   map.get($color-config, 'is-dark');

 @import './styles/variables-from-theme';
// @use '@angular/material' as mat;
// @use "sass:map";
// @import './styles/material.override';

// $color-config:    mat.get-color-config($my-theme);
// $primary-palette: map.get($color-config, 'primary');
// $primary: map.get($primary-palette, "default");

.toto {
    color: $primary;
}