<app-grid>
    <ng-template gridHeader let-item>
        Header de la grille (customisé). Reçu de la grille : {{ item }}
        <button (click)="clickMe()">Test</button>
        <app-grid></app-grid>
    </ng-template>
    <ng-template gridFooter>
        Footer customisé
    </ng-template>
</app-grid>