<form *ngIf="copy else errorOccured" (ngSubmit)="validateForm()">
    <!-- <h1>{{ isInCreation ? 'Nouvelle ressource :' : 'Modification de la ressource :'}} </h1> -->
    <div class="mb-3">
        <label class="form-label">Code de la ressource</label>
        <input name="code" type="text" class="form-control" placeholder="Code.." [(ngModel)]="copy.code">
    </div>
    <div class="mb-3">
        <label class="form-label">Libellé de la ressource</label>
        <input name="label" class="form-control" placeholder="Libellé.." [(ngModel)]="copy.label">
    </div>
    <div>
        <button type="submit" class="btn btn-success me-2">
            {{ isInCreation ? 'Ajouter' : 'Modifier'}}
        </button>
        <button type="button" class="btn btn-secondary" appConfirm [title]="'Annulation'"
            [question]="'Vous êtes sur le point de perdre les informations en cours, êtes-vous sûr?'"
            (confirmMethod)="cancel()">Annuler</button>
    </div>
</form>

<ng-template #errorOccured>
    Oops something wrong happened.
</ng-template>