<div>
    <div class="bg-primary">
        <ng-template *ngIf="headerTemplate else defaultHeader" 
        [ngTemplateOutlet]="headerTemplate"
        [ngTemplateOutletContext]="{$implicit:'Toto'}"></ng-template>
        <ng-template #defaultHeader>
            Header
        </ng-template>
    </div>
    <div>Contenu de la grille</div>
    <div>
        <ng-template *ngIf="footerTemplate else defaultFooter" [ngTemplateOutlet]="footerTemplate"></ng-template>
        <ng-template #defaultFooter>
            Footer
        </ng-template>
    </div>
</div>